{% extends "base.html" %}

{% block title %}
Choose Two Players
{% endblock %}

{% block body %}
<script>
    var firstPlayerId = null;
    var secondPlayerId = null;

    function selectFirstPlayer(playerId) {
/*         console.log(`current first player : ${firstPlayerId}`);
        console.log(`You have selected Player ID: ${playerId} on the first list`); */
        firstPlayerId = playerId;
        
        /* if (firstPlayerId === null) {
            console.log("setting first player");
            firstPlayerId = playerId;
        } else {
            console.log("resetting first player");
            firstPlayerId = playerId;
        } */
        updateButtonVisibility();
        document.querySelectorAll('.list-group-item').forEach(function(item) {
            item.classList.remove('active');
        });
        event.target.classList.add('active');
    }
    function selectSecondPlayer(playerId) {
        secondPlayerId = playerId;
        updateButtonVisibility();
        document.querySelectorAll('.list-group-item').forEach(function(item) {
            item.classList.remove('active');
        });
        event.target.classList.add('active');
    }

    function updateButtonVisibility() {
        var compareButton = document.getElementById('compareButton');
        compareButton.style.display = (firstPlayerId !== null && secondPlayerId !== null) ? 'block' : 'none';
    }
    function compareButtonPressed() {
        window.location.href = "/compare?firstPlayer=" + firstPlayerId + "&secondPlayer=" + secondPlayerId;
    }

</script>

<div class="container m-5">
    <h1>Choose Two Players To Compare</h1>
    <div class="row">
        <div class="col-md-6">
            <h4>Select First Player:</h4>
            <div class="list-group">
                {% for player, wage in data %}
                <button type="button"
                    class="list-group-item list-group-item-action"
                    onclick="selectFirstPlayer('{{ player[0] }}')">
                    <h5 class="mb-1">{{ player[1] | upper }}</h5>
                    <p class="mb-1">Kit Number: {{ player[0] }}</p>
                    <p class="mb-1">Team: {% if player[2] == 1%} Manchester City
                        {% elif player[2] == 5%} Liverpool
                        {%endif%}</p>
                    <p class="mb-1">Country: {{ player[3]| upper }}</p>
                    <p class="mb-1">Field Position:
                        {% if player[4] == 1%} Goalkeeper
                        {% elif player[4] == 2%} Defender
                        {% elif player[4] ==3%} Midfielder
                        {% elif player[4] ==4%} Forward
                        {%endif%}</p>
                    <p class="mb-1">Age: {{ player[5] }}</p>
                    <p class="mb-1">Annual Wage: {{ '{:,.0f}'.format(wage[1] *
                        1000000) }} €</p>
                    <p class="mb-1">Transfer: {{ '{:,.0f}'.format(wage[2] *
                        1000000) }} €</p>
                    <p class="mb-1">Joined: {{ wage[3] }}</p>
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h4>Select Second Player:</h4>
            <div class="list-group">
                {% for player, wage in data %}
                <button type="button"
                    class="list-group-item list-group-item-action"
                    onclick="selectSecondPlayer('{{ player[0] }}')">
                    <h5 class="mb-1">{{ player[1] | upper }}</h5>
                    <p class="mb-1">Kit Number: {{ player[0] }}</p>
                    <p class="mb-1">Team: {% if player[2] == 1%} Manchester City
                        {% elif player[2] == 5%} Liverpool
                        {%endif%}</p>
                    <p class="mb-1">Country: {{ player[3]| upper }}</p>
                    <p class="mb-1">Field Position:
                        {% if player[4] == 1%} Goalkeeper
                        {% elif player[4] == 2%} Defender
                        {% elif player[4] ==3%} Midfielder
                        {% elif player[4] ==4%} Forward
                        {%endif%}</p>
                    <p class="mb-1">Age: {{ player[5] }}</p>
                    <p class="mb-1">Annual Wage: {{ '{:,.0f}'.format(wage[1] *
                        1000000) }} €</p>
                    <p class="mb-1">Transfer: {{ '{:,.0f}'.format(wage[2] *
                        1000000) }} €</p>
                    <p class="mb-1">Joined: {{ wage[3] }}</p>
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg mx-2 buttonColour" id="compareButton"
        style="display: none;" onclick="compareButtonPressed()">Compare</button>
</div>
{% endblock %}
