* {
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.titleText {
    background-color: #37003c;
    color: white;
}

.banner-container {
    width: 100%;
    height: 100vh; /* Ensure the container takes full height of the viewport */
    overflow: hidden; /* Ensure the image doesn't overflow */
    position: relative; /* Positioning context for the image */
}

.banner {
    width: 100%;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    opacity: 1;
}

.buttonColour {
    background-color: #37003c;
    border-color: #37003c;
}

.list-group-item {
    border-radius: 0;
    border-color: #37003c;
}
.list-group-item:hover {
/*     background-color: #507ca8; Change this to the desired background color */
    background-color: #89428e;
    color: white;
}
.list-group-item:active {
    background-color: #89428e;
}

.playerPhoto {
    height: 300px;
    max-width: 100%;
}