* {
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.titleText {
    background-color: #37003c;
    color: white;
}

.banner-container {
    width: 100%;
    height: 100vh; /* Ensure the container takes full height of the viewport */
    overflow: hidden; /* Ensure the image doesn't overflow */
    position: relative; /* Positioning context for the image */
}

.banner {
    width: 100%;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    opacity: 1;
}

.buttonColour {
    background-color: #37003c;
    border-color: #37003c;
}

.list-group-item {
    border-radius: 0;
    border-color: #37003c;
}
.list-group-item:hover {
/*     background-color: #507ca8; Change this to the desired background color */
    background-color: #89428e;
    color: white;
}
.list-group-item:active {
    background-color: #89428e;
}

.playerPhoto {
    height: 300px;
    max-width: 100%;
}
.carousel-inner {
    height: 50vh;
}
.carousel-item {
    height: 100%; 
    object-fit: cover;
}
.custom-caption {
    position: absolute;
    bottom: 20px; /* Adjust this value to control the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); /* Optional: add a background for better readability */
    padding: 10px;
}
.custom-carousel-img {
    max-height: 100vh; /* Ensure the image does not exceed the viewport height */
    width: auto;      /* Maintain aspect ratio by adjusting the width */
    object-fit: cover; /* Ensures the image covers the container, may crop edges */
    min-height: 50vh;

}

.leftCaption {
    text-align: left;
}

.rightCaption {
    text-align: right;
}

.carousel-caption {
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
    margin-bottom: 4vh;
}

.carousel-caption > h5 {
    font-weight: bold;
    font-size: max(4vw, 40px);
    margin-bottom: 1vh;
}

.carousel-caption > p {
    font-size: max(2vw, 20px);
}