{% extends "base.html" %}

{% block title %}
The Two Players Selected
{% endblock %}

{% block body %}
<div class="container mt-5">
        <h1>Player Comparison</h1>
        <div class="row">
                {% if players|length > 0 %}
                <div class="col-12 col-md-6 mb-4">
                        <img class="img-fluid playerPhoto"
                                src="{{ url_for('static', filename='players/' + players[0].name | replace(' ', '') | lower + '.png') }}"
                                alt="{{ players[0].name }}">
                        <ul class="list-unstyled">
                                <li>{{ players[0].name | upper }}</li>
                                <li>Kit Number: {{ players[0].shirtId }}</li>
                                <li>Team: {% if players[0].teamId == 1 %}
                                        Manchester City
                                        {% elif players[0].teamId == 5 %}
                                        Liverpool
                                        {% endif %}
                                </li>
                                <li>Country: {{ players[0].nation | upper
                                        }}</li>
                                <li>Field Position:
                                        {% if players[0].mainPos == 1 %}
                                        Goalkeeper
                                        {% elif players[0].mainPos == 2 %}
                                        Defender
                                        {% elif players[0].mainPos == 3 %}
                                        Midfielder
                                        {% elif players[0].mainPos == 4 %}
                                        Forward
                                        {% endif %}
                                </li>
                                <li>Age: <span {% if ageIndex == 0
                                                %}class="text-success" {% endif
                                                %}>{{ players[0].age
                                                }}</span></li>
                                <li>Annual Wage: <span {% if annualIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{
                                                '{:,.0f}'.format(players[0].annual
                                                * 1000000) }} €</span></li>
                                <li>Transfer: <span {% if transferIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{
                                                '{:,.0f}'.format(players[0].transfer
                                                * 1000000) }} €</span></li>
                                <li>Joined: {{ players[0].joined }}</li>
                                <li>Appearances: <span {% if appsIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[0].apps
                                                }}</span></li>
                                <li>Full Appearances: <span {% if fullGamesIndex
                                                == 0 %}class="text-success" {%
                                                endif %}}>
                                                {{ players[0].fullGames
                                                }}</span></li>
                                <li>Goals: <span {% if goalsIndex == 0
                                                %}class="text-success" {% endif
                                                %}>{{ players[0].goals
                                                }}</span></li>
                                <li>Assists: <span {% if assistsIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[0].assists
                                                }}</span></li>
                                <li>Fouls: <span {% if foulsIndex == 0
                                                %}class="text-success" {% endif
                                                %}>{{ players[0].fouls
                                                }}</span></li>
                                <li>Yellow Cards: <span {% if yellowIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[0].yellow
                                                }}</span></li>
                                <li>Red Cards: <span {% if redIndex == 0
                                                %}class="text-success" {% endif
                                                %}}>{{ players[0].red
                                                }}</span></li>
                                {% if players[0].mainPos == 1 %}
                                <li>Goals Against: {{ pos1[0].goalsAgainst
                                        }}</li>
                                <li>Shots on Target Conceded: {{
                                        pos1[0].shotsOnTargetConceeded }}</li>
                                <li>Save Percentage: {{ pos1[0].savePer }}</li>
                                <li>Clean Sheets: {{ pos1[0].cleanSheets }}</li>
                                <li>Launch Completion Percentage: {{
                                        pos1[0].launchCompPer }}</li>
                                <li>Expected Goals Against: {{
                                        pos1[0].goalsAgainstExpected }}</li>
                                <li>Expected Goals Against Percentage: {{
                                        pos1[0].goalsAgainstExpectedPer }}</li>
                                <li>Crosses Stopped Percentage: {{
                                        pos1[0].crossesStoppedPer }}</li>
                                <li>Sweeps: {{ pos1[0].sweeps }}</li>
                                <li>Penalties Saved Percentage: {{
                                        pos1[0].penaltiesSavedPer }}</li>
                                <li>Errors: {{ pos1[0].errors }}</li>
                                {% elif players[0].mainPos == 2 %}
                                <li>On Goals Against: {{ pos1[0].onGoalsAgainst
                                        }}</li>
                                <li>Tackles: {{ pos1[0].tackles }}</li>
                                <li>Tackles Won: {{ pos1[0].tacklesWon }}</li>
                                <li>Dribbles Stopped Percentage: {{
                                        pos1[0].dribblesStoppedPer }}</li>
                                <li>Blocks: {{ pos1[0].blocks }}</li>
                                <li>Interceptions: {{ pos1[0].interceptions
                                        }}</li>
                                <li>Clearances: {{ pos1[0].clearances }}</li>
                                <li>Errors: {{ pos1[0].errors }}</li>
                                <li>Carries: {{ pos1[0].carries }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos1[0].aerialDuelsWon }}</li>
                                {% elif players[0].mainPos == 3%}
                                <li>xG: {{ pos1[0].xG }}</li>
                                <li>xA: {{ pos1[0].xA }}</li>
                                <li>Progressive Carries: {{ pos1[0].proCarries
                                        }}</li>
                                <li>Progressive Passes: {{ pos1[0].proPasses
                                        }}</li>
                                <li>Shots on Target Percentage: {{
                                        pos1[0].shotsOnTargetPer
                                        }}</li>
                                <li>Passes Attempted: {{ pos1[0].passesAttempted
                                        }}</li>
                                <li>Passes Completed: {{ pos1[0].passesCompleted
                                        }}</li>
                                <li>Passes to Shot: {{ pos1[0].passesToShot
                                        }}</li>
                                <li>Crosses: {{ pos1[0].crosses }}</li>
                                <li>Shot Creating Actions: {{
                                        pos1[0].shotCreatingActions }}</li>
                                <li>Dribbles Stopped Percentage: {{
                                        pos1[0].dribblesStoppedPer
                                        }}</li>
                                <li>Blocks: {{ pos1[0].blocks }}</li>
                                <li>Interceptions: {{ pos1[0].interceptions
                                        }}</li>
                                <li>Touches: {{ pos1[0].touches }}</li>
                                <li>Take-ons Attempted: {{ pos1[0].takeOnsAtt
                                        }}</li>
                                <li>Take-ons Succeeded: {{ pos1[0].takeOnsSucc
                                        }}</li>
                                <li>Dispossessed: {{ pos1[0].dispossessed
                                        }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos1[0].aerialDuelsWon
                                        }}</li>
                                {% elif players[0].mainPos == 4%}
                                <li>Penalties Scored: {{ pos1[0].pkScored
                                        }}</li>
                                <li>Penalties Attempted: {{ pos1[0].pkAttempt
                                        }}</li>
                                <li>Expected Goals: {{ pos1[0].xG }}</li>
                                <li>Non-penalty Expected Goals: {{ pos1[0].npxG
                                        }}</li>
                                <li>Expected Assists: {{ pos1[0].xA }}</li>
                                <li>Progressive Carries: {{ pos1[0].proCarries
                                        }}</li>
                                <li>Shots on Target Percentage: {{
                                        pos1[0].shotsOnTargetPer }}</li>
                                <li>Goals Per Shot: {{ pos1[0].goalsPerShot
                                        }}</li>
                                <li>Passes to Shot: {{ pos1[0].passesToShot
                                        }}</li>
                                <li>Crosses into Area: {{
                                        pos1[0].crossesIntoArea }}</li>
                                <li>Shot Creating Actions: {{
                                        pos1[0].shotCreatingActions }}</li>
                                <li>Successful Take-ons: {{ pos1[0].succTakeOn
                                        }}</li>
                                <li>Fouls Won: {{ pos1[0].foulsWon }}</li>
                                <li>Goal Creating Actions: {{
                                        pos1[0].goalCreatingActions }}</li>
                                <li>Miscontrols: {{ pos1[0].miscontrols }}</li>
                                <li>Dispossessed: {{ pos1[0].dispossessed
                                        }}</li>
                                <li>Offsides: {{ pos1[0].offsides }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos1[0].aerialDuelsWon }}</li>
                                {%endif%}
                        </ul>
                        <br>
                </div>

                <div class="col-12 col-md-6 mb-4">
                        <img class="img-fluid playerPhoto"
                                src="{{ url_for('static', filename='players/' + players[1].name | replace(' ', '') | lower + '.png') }}"
                                alt="{{ players[1].name }}">
                        <ul class="list-unstyled">
                                <li>{{ players[1].name | upper }}</li>
                                <li>Kit Number: {{ players[1].shirtId }}</li>
                                <li>Team: {% if players[1].teamId == 1 %}
                                        Manchester City
                                        {% elif players[1].teamId == 5 %}
                                        Liverpool
                                        {% endif %}
                                </li>
                                <li>Country: {{ players[1].nation | upper
                                        }}</li>
                                <li>Field Position:
                                        {% if players[1].mainPos == 1 %}
                                        Goalkeeper
                                        {% elif players[1].mainPos == 2 %}
                                        Defender
                                        {% elif players[1].mainPos == 3 %}
                                        Midfielder
                                        {% elif players[1].mainPos == 4 %}
                                        Forward
                                        {% endif %}
                                </li>
                                <li>Age: <span {% if ageIndex == 1
                                                %}class="text-success" {% endif
                                                %}>{{ players[1].age
                                                }}</span></li>
                                <li>Annual Wage: <span {% if annualIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{
                                                '{:,.0f}'.format(players[1].annual
                                                * 1000000) }} €</span></li>
                                <li>Transfer: <span {% if transferIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{
                                                '{:,.0f}'.format(players[1].transfer
                                                * 1000000) }} €</span></li>
                                <li>Joined: {{ players[1].joined }}</li>
                                <li>Appearances: <span {% if appsIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[1].apps
                                                }}</span></li>
                                <li>Full Appearances: <span {% if fullGamesIndex
                                                == 1 %}class="text-success" {%
                                                endif %}}>
                                                {{ players[1].fullGames
                                                }}</span></li>
                                <li>Goals: <span {% if goalsIndex == 1
                                                %}class="text-success" {% endif
                                                %}>{{ players[1].goals
                                                }}</span></li>
                                <li>Assists: <span {% if assistsIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[1].assists
                                                }}</span></li>
                                <li>Fouls: <span {% if foulsIndex == 1
                                                %}class="text-success" {% endif
                                                %}>{{ players[1].fouls
                                                }}</span></li>
                                <li>Yellow Cards: <span {% if yellowIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>
                                                {{ players[1].yellow
                                                }}</span></li>
                                <li>Red Cards: <span {% if redIndex == 1
                                                %}class="text-success" {% endif
                                                %}}>{{ players[1].red
                                                }}</span></li>
                                {% if players[0].mainPos == 1 %}
                                <li>Goals Against: {{ pos2[0].goalsAgainst
                                        }}</li>
                                <li>Shots on Target Conceded: {{
                                        pos2[0].shotsOnTargetConceeded }}</li>
                                <li>Save Percentage: {{ pos2[0].savePer }}</li>
                                <li>Clean Sheets: {{ pos2[0].cleanSheets }}</li>
                                <li>Launch Completion Percentage: {{
                                        pos2[0].launchCompPer }}</li>
                                <li>Expected Goals Against: {{
                                        pos2[0].goalsAgainstExpected }}</li>
                                <li>Expected Goals Against Percentage: {{
                                        pos2[0].goalsAgainstExpectedPer }}</li>
                                <li>Crosses Stopped Percentage: {{
                                        pos2[0].crossesStoppedPer }}</li>
                                <li>Sweeps: {{ pos2[0].sweeps }}</li>
                                <li>Penalties Saved Percentage: {{
                                        pos2[0].penaltiesSavedPer }}</li>
                                <li>Errors: {{ pos2[0].errors }}</li>
                                {% elif players[0].mainPos == 2 %}
                                <li>On Goals Against: {{ pos2[0].onGoalsAgainst
                                        }}</li>
                                <li>Tackles: {{ pos2[0].tackles }}</li>
                                <li>Tackles Won: {{ pos2[0].tacklesWon }}</li>
                                <li>Dribbles Stopped Percentage: {{
                                        pos2[0].dribblesStoppedPer }}</li>
                                <li>Blocks: {{ pos2[0].blocks }}</li>
                                <li>Interceptions: {{ pos2[0].interceptions
                                        }}</li>
                                <li>Clearances: {{ pos2[0].clearances }}</li>
                                <li>Errors: {{ pos2[0].errors }}</li>
                                <li>Carries: {{ pos2[0].carries }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos2[0].aerialDuelsWon }}</li>
                                {% elif players[1].mainPos == 3%}
                                <li>xG: {{ pos2[0].xG }}</li>
                                <li>xA: {{ pos2[0].xA }}</li>
                                <li>Progressive Carries: {{ pos2[0].proCarries
                                        }}</li>
                                <li>Progressive Passes: {{ pos2[0].proPasses
                                        }}</li>
                                <li>Shots on Target Percentage: {{
                                        pos2[0].shotsOnTargetPer
                                        }}</li>
                                <li>Passes Attempted: {{ pos2[0].passesAttempted
                                        }}</li>
                                <li>Passes Completed: {{ pos2[0].passesCompleted
                                        }}</li>
                                <li>Passes to Shot: {{ pos2[0].passesToShot
                                        }}</li>
                                <li>Crosses: {{ pos2[0].crosses }}</li>
                                <li>Shot Creating Actions: {{
                                        pos2[0].shotCreatingActions }}</li>
                                <li>Dribbles Stopped Percentage: {{
                                        pos2[0].dribblesStoppedPer
                                        }}</li>
                                <li>Blocks: {{ pos2[0].blocks }}</li>
                                <li>Interceptions: {{ pos2[0].interceptions
                                        }}</li>
                                <li>Touches: {{ pos2[0].touches }}</li>
                                <li>Take-ons Attempted: {{ pos2[0].takeOnsAtt
                                        }}</li>
                                <li>Take-ons Succeeded: {{ pos2[0].takeOnsSucc
                                        }}</li>
                                <li>Dispossessed: {{ pos2[0].dispossessed
                                        }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos2[0].aerialDuelsWon
                                        }}</li>
                                {% elif players[0].mainPos == 4%}
                                <li>Penalties Scored: {{ pos2[0].pkScored
                                        }}</li>
                                <li>Penalties Attempted: {{ pos2[0].pkAttempt
                                        }}</li>
                                <li>Expected Goals: {{ pos2[0].xG }}</li>
                                <li>Non-penalty Expected Goals: {{ pos2[0].npxG
                                        }}</li>
                                <li>Expected Assists: {{ pos2[0].xA }}</li>
                                <li>Progressive Carries: {{ pos2[0].proCarries
                                        }}</li>
                                <li>Shots on Target Percentage: {{
                                        pos2[0].shotsOnTargetPer }}</li>
                                <li>Goals Per Shot: {{ pos2[0].goalsPerShot
                                        }}</li>
                                <li>Passes to Shot: {{ pos2[0].passesToShot
                                        }}</li>
                                <li>Crosses into Area: {{
                                        pos2[0].crossesIntoArea }}</li>
                                <li>Shot Creating Actions: {{
                                        pos2[0].shotCreatingActions }}</li>
                                <li>Successful Take-ons: {{ pos2[0].succTakeOn
                                        }}</li>
                                <li>Fouls Won: {{ pos2[0].foulsWon }}</li>
                                <li>Goal Creating Actions: {{
                                        pos2[0].goalCreatingActions }}</li>
                                <li>Miscontrols: {{ pos2[0].miscontrols }}</li>
                                <li>Dispossessed: {{ pos2[0].dispossessed
                                        }}</li>
                                <li>Offsides: {{ pos2[0].offsides }}</li>
                                <li>Aerial Duels Won Percentage: {{
                                        pos2[0].aerialDuelsWon }}</li>
                                {%endif%}
                        </ul>
                </div>
                {% endif %}

                {% if players|length == 0 %}
                <p>No players found.</p>
                {% endif %}
        </div>
</div>
{% endblock %}
